Repository Alv-no/alv-website: changes, and which Azure pipelines are due for each by the changed paths.
All: .AzureDevOps/pipelines/azure-pipelines-review.yml, .AzureDevOps/pipelines/azure-pipelines-video-party.yml

Path conditions:
  .AzureDevOps/pipelines/azure-pipelines-review.yml: any of: packages/website
  .AzureDevOps/pipelines/azure-pipelines-video-party.yml: any of: packages/video-party

Small bug fix
  packages/mail-api/src/index.js
Due: none

🔨 Remove old pinned version of package
  package.json
  yarn.lock
Due: none

🔨 Google renamed their font from Source Sans Pro to Source Sans 3
  packages/video-party/src/pages/_app.js
Due: .AzureDevOps/pipelines/azure-pipelines-video-party.yml

🔨 Update CODEOWNERS
  CODEOWNERS
Due: none

Resolving build issues 🛠️ ALVB build works again - Locked package versions to use gatsby version 4 packages - Development environment does not work. However, that is not a priority for this patch
  packages/website-alvb/package.json
  packages/website-alvb/src/utils/index.js
  packages/website/package.json
  yarn.lock
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

Navigation fixes 🐛 Why is this codebase a hostile environment - Navigation uses toggle found in sanity - Added types and removed dead properties
  packages/website-alvb/src/components/layout/index.js
  packages/website-alvb/src/hookspages/useNavigationQuery.js
Due: none

Removing small bug fix 🐛 \# Issues With making linkableBlocks - Added some error handling - This is a bandaid on a broken foot
  packages/shared-components/src/components/linkableContent/index.js
Due: none

Removed CV upload to remove possibility of 500 error
  packages/mail-api/src/airtableClient.js
  packages/mail-api/src/controllers.js
  packages/mail-api/src/logger.js
  packages/mail-api/src/utils.js
Due: none

Removed CV-upload from application form
  packages/website/src/components/applyForm/index.js
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

Lets remove all those damn videos....
  packages/website/src/pages/ansatte.js
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

Initial commit
  README.md
Due: none

Update README.md
  README.md
Due: none

add azure function solution
  .gitignore
  INT01_Flowcase_UserProfile.sln
  Src/INT01_Flowcase_UserProfile/.gitignore
  Src/INT01_Flowcase_UserProfile/Clients/FlowcaseClient.cs
  Src/INT01_Flowcase_UserProfile/Clients/IFlowcaseClient.cs
  Src/INT01_Flowcase_UserProfile/Clients/StorageClient.cs
  Src/INT01_Flowcase_UserProfile/Extensions/HostBuilderExtension.cs
  Src/INT01_Flowcase_UserProfile/Functions/INT01_Download_CV.cs
  Src/INT01_Flowcase_UserProfile/Functions/INT01_Get_CV_Details.cs
  Src/INT01_Flowcase_UserProfile/Handlers/UserProfileHandler.cs
  Src/INT01_Flowcase_UserProfile/INT01_Flowcase_UserProfile.csproj
  Src/INT01_Flowcase_UserProfile/Models/Configuration/FlowcaseConfiguration.cs
  Src/INT01_Flowcase_UserProfile/Models/Configuration/StorageConfiguration.cs
  Src/INT01_Flowcase_UserProfile/Models/Flowcase/CV.cs
  Src/INT01_Flowcase_UserProfile/Models/Flowcase/User.cs
  Src/INT01_Flowcase_UserProfile/Models/TableEntities/CourseEntity.cs
  Src/INT01_Flowcase_UserProfile/Models/TableEntities/EmployeeEntity.cs
  Src/INT01_Flowcase_UserProfile/Models/TableEntities/ProjectEntity.cs
  Src/INT01_Flowcase_UserProfile/Models/TableEntities/SkillEntity.cs
  Src/INT01_Flowcase_UserProfile/Models/TableEntities/SummaryEntity.cs
  Src/INT01_Flowcase_UserProfile/Program.cs
  Src/INT01_Flowcase_UserProfile/Properties/launchSettings.json
  Src/INT01_Flowcase_UserProfile/Properties/serviceDependencies.json
  Src/INT01_Flowcase_UserProfile/Properties/serviceDependencies.local.json
  Src/INT01_Flowcase_UserProfile/Transforms/UserMapper.cs
  Src/INT01_Flowcase_UserProfile/Utils/CredentialUtil.cs
  Src/INT01_Flowcase_UserProfile/host.json
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

fixes
  .github/terraform/main.tf
  .github/terraform/modules/function-app/main.tf
  .github/terraform/modules/insights/main.tf
  .github/terraform/modules/resource-group/main.tf
  .github/terraform/parameters/terraform.Test.tfvars
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  Src/INT01_Flowcase_UserProfile/Clients/StorageClient.cs
  Src/INT01_Flowcase_UserProfile/Functions/INT01_Download_CV.cs
  Src/INT01_Flowcase_UserProfile/Functions/INT01_Get_CV_Details.cs
  Src/INT01_Flowcase_UserProfile/Handlers/UserProfileHandler.cs
  Src/INT01_Flowcase_UserProfile/Models/Flowcase/CV.cs
  Src/INT01_Flowcase_UserProfile/Models/TableEntities/EmployeeSkillEntity.cs
  Src/INT01_Flowcase_UserProfile/Transforms/UserMapper.cs
Due: none
