Repository Alv-no/alv-website: changes, and which Azure pipelines are due for each by the changed paths.
All: .AzureDevOps/pipelines/azure-pipelines-review.yml, .AzureDevOps/pipelines/azure-pipelines-video-party.yml

.AzureDevOps/pipelines/azure-pipelines-review.yml:
  pool:
    vmImage: ubuntu-20.04
  stages:
  - stage: review
    displayName: Deploy to review
    variables:
    - group: azure-credentials-test
    jobs:
    - job: Review
      displayName: Review
      steps:
      - checkout: self
        fetchDepth: 1
      - template: installDependencies.yaml
      - task: Bash@3
  ...

.AzureDevOps/pipelines/azure-pipelines-video-party.yml:
  pool:
    vmImage: ubuntu-20.04
  stages:
  - stage: prod
    displayName: Deploy to Production
    variables:
    - group: azure-credentials-prod
    jobs:
    - deployment: Prod
      displayName: Prod
      environment: Prod
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
  ...

Css changes, and change default port of video-party
  packages/video-party/Dockerfile
  packages/video-party/src/pages/_app.js
  packages/video-party/src/styles/global.css
Due: .AzureDevOps/pipelines/azure-pipelines-video-party.yml

Change port for video-party back to port 80
  packages/video-party/Dockerfile
Due: .AzureDevOps/pipelines/azure-pipelines-video-party.yml

Fix permission issue in Dockerfile
  packages/video-party/Dockerfile
Due: .AzureDevOps/pipelines/azure-pipelines-video-party.yml

One more fix
  packages/video-party/Dockerfile
Due: .AzureDevOps/pipelines/azure-pipelines-video-party.yml

video-party: fix for more than 50 videos
  packages/video-party/src/pages/index.jsx
  packages/video-party/src/youtube-api.js
Due: .AzureDevOps/pipelines/azure-pipelines-video-party.yml

video-party: small css size fix
  packages/video-party/src/styles/global.css
Due: .AzureDevOps/pipelines/azure-pipelines-video-party.yml

rebase and refactor
  packages/mail-api/src/index.js
  packages/mail-api/src/utils.js
  packages/website/src/components/applyForm/index.js
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

improve logging and comments
  packages/mail-api/src/index.js
  packages/mail-api/src/utils.js
  packages/website/src/components/applyForm/index.js
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

add support for file uploads with clamav scanning
  packages/mail-api/package.json
  packages/mail-api/src/index.js
  packages/mail-api/src/utils.js
  packages/website/src/components/applyForm/index.js
  yarn.lock
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

bux
  packages/mail-api/src/index.js
  packages/mail-api/src/routes/send.js
  packages/mail-api/src/utils.js
  packages/website/src/components/applyForm/index.js
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

add commented line and do some lint fix stuff
  packages/mail-api/src/routes/send.js
  packages/shared-components/src/components/form/index.js
  packages/website/src/pages/kontakt-oss.js
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

move commented line
  packages/mail-api/src/utils.js
Due: none

open links i new tabs
  packages/shared-components/src/components/form/index.js
  packages/shared-components/src/components/richTextTypes/index.js
  packages/website/src/pages/kontakt-oss.js
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

update request url
  packages/website/src/components/applyForm/index.js
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

Removed cookies Only using plausible from now on - Removed packages for managing cookies - Removed cookie banner
  packages/website/gatsby-config.js
  packages/website/package.json
  packages/website/src/components/cookieNotice/cookie.module.css
  packages/website/src/components/cookieNotice/index.js
  packages/website/src/components/layout/index.js
  yarn.lock
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

chore: Upgrading packages Upgrading to latest gatsby 4 - Upgrading to gatsby 4.25.7 - Upgrading fastify and gatsby-plugin-fastify - Ran update of caniuse
  packages/website/gatsby-config.js
  packages/website/gatsby-node.js
  packages/website/package.json
  packages/website/src/components/layout/layout.css
  yarn.lock
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

Update run
  run
Due: none

Update config.js
  packages/website/src/config.js
Due: .AzureDevOps/pipelines/azure-pipelines-review.yml

airtable integration
  packages/mail-api/package.json
  packages/mail-api/src/corrId.js
  packages/mail-api/src/correlation.js
  packages/mail-api/src/correlationId
  packages/mail-api/src/index.js
  packages/mail-api/src/logger.js
Due: none

airtable integration (#907)
  packages/mail-api/package.json
  packages/mail-api/src/corrId.js
  packages/mail-api/src/correlation.js
  packages/mail-api/src/correlationId
  packages/mail-api/src/index.js
  packages/mail-api/src/logger.js
Due: none

airtable integration
  yarn.lock
Due: none

Airtable integration (#908)
  yarn.lock
Due: none

Some small fixes Indents and unused statements
  packages/mail-api/message.txt
  packages/mail-api/src/corrId.js
  packages/mail-api/src/correlation.js
  packages/mail-api/src/index.js
  packages/mail-api/src/logger.js
  yarn.lock
Due: none

Mail-api fixes API failed in prod - Added handling for when there is no file - Added request to deps
  packages/mail-api/package.json
  packages/mail-api/src/index.js
  yarn.lock
Due: none

More bugs 😱
  packages/mail-api/src/index.js
Due: none

Interesting bugs due to not reading docs
  packages/mail-api/src/index.js
Due: none

added filename to url
  packages/mail-api/src/index.js
Due: none

Path conditions:
  .AzureDevOps/pipelines/azure-pipelines-review.yml: any of: packages/website
  .AzureDevOps/pipelines/azure-pipelines-video-party.yml: any of: packages/video-party
